In [ ]:
# improt the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from tabulate import tabulate
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import string


import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
filename1 = 'Trump_CNN_Similarity.csv'
filename2 = 'Trump_fox_similarity.csv'

In [ ]:
df_cnn = pd.read_csv(filename1)
df_fox = pd.read_csv(filename2)

In [ ]:
df_cnn.head(2)

,date,year,month,day,author,title,article,url,section,publication,Embeded_links
0,01/01/2017 00:00,2017,1,1,Eugene Scott,"Marsha Blackburn, Ivanka Trump has been discus...",Washington (CNN)Rep. Marsha Blackburn says she...,https://www.cnn.com/2017/01/01/politics/marsha...,politics,CNN,\r\nhttp://www.cnn.com/2016/09/13/politics/iva...
1,01/01/2017 00:00,2017,1,1,Kevin Liptak,Biographer says Trump booted him from golf course,"West Palm Beach, Florida (CNN)The author of a ...",https://www.cnn.com/2017/01/01/politics/donald...,politics,CNN,\r\nhttp://www.cnn.com/2017/01/01/politics/oba...

In [ ]:
df_cnn = df_cnn[['date','article']]
df_cnn.head()

               date                                            article
0  01/01/2017 00:00  Washington (CNN)Rep. Marsha Blackburn says she...
1  01/01/2017 00:00  West Palm Beach, Florida (CNN)The author of a ...
2  01/01/2017 00:00  Raul A. Reyes, an attorney and member of the U...
3  01/01/2017 00:00  Washington (CNN)President-elect Donald Trump p...
4  01/01/2017 00:00  Washington (CNN)Congressman-elect Charlie Cris...

In [ ]:
df_fox = df_fox[['date','article']]
df_fox.head()

               date                                            article
0  31/10/2017 00:00  \r\n          President Trump and Vice Preside...
1  31/10/2017 00:00  close Video President Trump complains about po...
2  31/10/2017 00:00  close Video Podesta stepping down from lobbyin...
3  31/10/2017 00:00  \r\n          President Trump reacted to the t...
4  31/10/2017 00:00  President Trumpâ€™s Asia trip begins Saturday ...

In [ ]:
df_cnn.shape, df_fox.shape

((1657, 2), (238, 2))

In [ ]:
# convert the date into date format
df_cnn['date'] = pd.to_datetime(df_cnn['date'])
df_fox['date'] = pd.to_datetime(df_fox['date'])
df_cnn['date'] = pd.to_datetime(df_cnn['date'], format='%Y-%m-%d')
df_fox['date'] = pd.to_datetime(df_fox['date'], format='%Y-%m-%d')

In [ ]:
df_fox.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     238 non-null    datetime64[ns]
 1   article  238 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 3.8+ KB

In [ ]:
df_cnn.head()

        date                                            article
0 2017-01-01  Washington (CNN)Rep. Marsha Blackburn says she...
1 2017-01-01  West Palm Beach, Florida (CNN)The author of a ...
2 2017-01-01  Raul A. Reyes, an attorney and member of the U...
3 2017-01-01  Washington (CNN)President-elect Donald Trump p...
4 2017-01-01  Washington (CNN)Congressman-elect Charlie Cris...

In [ ]:
# df_final[df_final['date']=='2018-08-14']

In [ ]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
class data_cleaning:
    def __init__(self):
        pass
    def message_cleaning(self, message):
        
            Test_punc_removed = [char for char in message if char not in string.punctuation] # removing punctuations
            
            Test_punc_removed_join = ''.join(Test_punc_removed)
            # removing stop words
            Test_punc_removed_join_clean = [word.lower().strip() for word in Test_punc_removed_join.split() if word.lower() not in stopwords.words('english')]
            final_join = ' '.join(Test_punc_removed_join_clean)
            return final_join
    
        
    def apply_to_column(self, data_column_text):
        data_processed = data_column_text.apply(self.message_cleaning)
        return data_processed

In [ ]:
data_clean_obj = data_cleaning()
df_cnn['article_cnn'] = data_clean_obj.apply_to_column(df_cnn['article'])
df_fox['article_fox'] = data_clean_obj.apply_to_column(df_fox['article'])

In [ ]:
# merge the two files on date column.
df_final = pd.merge(left=df_cnn, right=df_fox, how='inner',left_on='date', right_on='date')

In [ ]:
df_final.head()

,date,article_x,article_cnn,article_y,article_fox
0,2017-10-31,Washington (CNN)Sen. John McCain warned of the...,washington cnnsen john mccain warned dangers s...,\r\n President Trump and Vice Preside...,president trump vice president pences official...
1,2017-10-31,Washington (CNN)Sen. John McCain warned of the...,washington cnnsen john mccain warned dangers s...,close Video President Trump complains about po...,close video president trump complains portraya...
2,2017-10-31,Washington (CNN)Sen. John McCain warned of the...,washington cnnsen john mccain warned dangers s...,close Video Podesta stepping down from lobbyin...,close video podesta stepping lobbying firm ami...
3,2017-10-31,Washington (CNN)Sen. John McCain warned of the...,washington cnnsen john mccain warned dangers s...,\r\n President Trump reacted to the t...,president trump reacted terror attack lower ma...
4,2017-10-31,Washington (CNN)Sen. John McCain warned of the...,washington cnnsen john mccain warned dangers s...,President Trumpâ€™s Asia trip begins Saturday ...,president trumpâ€™s asia trip begins saturday ...

# **TF-IDF**

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf_vectorizer = TfidfVectorizer()
def get_cosine_similarity_TF_IDF(article):
    tfidf_matrix = tfidf_vectorizer.fit_transform(article)
    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
    return cosine_sim[0][1]

In [ ]:
all_articles = list(zip(df_final['article_cnn'], df_final['article_fox']))

In [ ]:
cosine_similarity_list = [get_cosine_similarity_TF_IDF(article) for article in all_articles]

In [ ]:
df_final['cosine_similarity_TF_IDF'] = cosine_similarity_list

In [ ]:
df_final = df_final.sort_values(by='cosine_similarity_TF_IDF',ascending=False)
df_final['cosine_similarity_TF_IDF'] = df_final['cosine_similarity_TF_IDF']*100
df_final['cosine_similarity_TF_IDF'] = round(df_final['cosine_similarity_TF_IDF'],2)

In [ ]:
df_final[['date', 'article_x', 'article_y',
       'cosine_similarity_TF_IDF']].head()

,date,article_x,article_y,cosine_similarity_TF_IDF
2533,2018-06-14,(CNN)The New York attorney general on Thursda...,close Video New York attorney general sues Tru...,66.70
1341,2018-01-06,Washington (CNN)President Donald Trump has thr...,Throughout the first year of his presidency â€...,66.17
1251,2018-05-31,Washington (CNN)Secretary of State Mike Pompe...,NEW YORK â€“ A top aide to Kim Jong Un will m...,63.25
1834,2018-07-06,Washington (CNN)President Donald Trump said Th...,close Video Trump remains optimistic but reali...,62.63
4685,2018-08-14,(CNN)President Donald Trump's campaign said T...,close Video Trump campaign takes legal action ...,62.51

# **word2vec**

In [ ]:
import gensim.downloader
glove_vectors = gensim.downloader.load('word2vec-google-news-300')

In [ ]:
csim = []
for i in df_final.index:
  sent1 = df_final.iloc[i]['article_cnn']
  sent2 = df_final.iloc[i]['article_fox']

  sen_1_words = [w for w in sent1.split() if w in glove_vectors.vocab]
  sen_2_words = [w for w in sent2.split() if w in glove_vectors.vocab]
  sim = glove_vectors.n_similarity(sen_1_words, sen_2_words)
  csim.append(sim)

In [ ]:
df_final['cosine_similarity_WORD2VEC'] = csim

In [ ]:
df_final['cosine_similarity_WORD2VEC'] = df_final['cosine_similarity_WORD2VEC']*100
df_final['cosine_similarity_WORD2VEC'] = round(df_final['cosine_similarity_WORD2VEC'],3)

In [ ]:
df_final = df_final.sort_values(by=['cosine_similarity_TF_IDF','cosine_similarity_WORD2VEC'], ascending=[False, True]).reset_index(drop=True)

In [ ]:
df = df_final[['date', 'article_x', 'article_y',
       'cosine_similarity_TF_IDF', 'cosine_similarity_WORD2VEC']]
df.rename(columns={'article_x':'CNN', 'article_y':'FOX'}, inplace=True)

In [ ]:
df.head()

,date,CNN,FOX,cosine_similarity_TF_IDF,cosine_similarity_WORD2VEC
0,2018-06-14,(CNN)The New York attorney general on Thursda...,close Video New York attorney general sues Tru...,66.70,83.917000
1,2018-01-06,Washington (CNN)President Donald Trump has thr...,Throughout the first year of his presidency â€...,66.17,85.248001
2,2018-05-31,Washington (CNN)Secretary of State Mike Pompe...,NEW YORK â€“ A top aide to Kim Jong Un will m...,63.25,87.829002
3,2018-07-06,Washington (CNN)President Donald Trump said Th...,close Video Trump remains optimistic but reali...,62.63,85.446999
4,2018-08-14,(CNN)President Donald Trump's campaign said T...,close Video Trump campaign takes legal action ...,62.51,62.019001

In [ ]:
df.to_csv("Cosine_Similarity_News.csv", index=False)
print("data saved!")

data saved!